<!doctype html>
<html class="no-js" lang="{{ shop.locale }}" fontify-lang="{{ shop.locale }}">
  <head>
    <!-- Showcase 4.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'custom-styles.css' | asset_url }}" as="style">

    <!-- Comfortaa Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    >

    {% comment %} <link rel="stylesheet" type="text/css" href="slick/slick.css"/> {% endcomment %}
    {% comment %} Add the new slick-theme.css if you want the default styling {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}">
    {% render 'gcm-integration-script' %}

    {% render 'head-tag' %}
    {%- assign base_font = settings.type_base_font -%}
    {%- assign base_font_medium = base_font | font_modify: 'weight', '500' -%}
    {%- assign base_font_semibold = base_font | font_modify: 'weight', '600' -%}
    {%- if base_font_medium -%}
      <link rel="preload" as="font" href="{{ base_font_medium | font_url }}" type="font/woff2" crossorigin>
    {%- endif -%}
    {%- if base_font_semibold -%}
      <link rel="preload" as="font" href="{{ base_font_semibold | font_url }}" type="font/woff2" crossorigin>
    {%- endif -%}

    <meta name="theme-color" content="{{ settings.col_btn_bg }}">

    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% render 'social-meta-tags' %}

    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'custom-styles.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
    {{ shop.metafields.fontify.stylesheets }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
      window.theme = window.theme || {};
      theme.money_format = {{ shop.money_format | json }};
      theme.money_container = '.theme-money';
      theme.strings = {
        previous: {{ 'general.accessibility_labels.previous' | t | json }},
        next: {{ 'general.accessibility_labels.next' | t | json }},
        close: {{ 'general.accessibility_labels.close' | t | json }},
        addressError: {{ 'map.errors.address_error' | t | json }},
        addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
        addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
        authError: {{ 'map.errors.auth_error' | t | json }},
        back: {{ 'layout.navigation.back' | t | json }},
        cartConfirmation: {{ 'cart.terms.confirmation' | t | json }},
        loadMore: {{ 'general.accessibility_labels.load_more' | t | json }},
        infiniteScrollNoMore: {{ 'collections.general.infinite_scroll_no_more' | t | json }},
        priceNonExistent: {{ 'products.variant.non_existent' | t | json }},
        buttonDefault: {{ 'products.product.add_to_cart' | t | json }},
        buttonNoStock: {{ 'products.variant.out_of_stock' | t | json }},
        buttonNoVariant: {{ 'products.variant.non_existent' | t | json }},
        variantNoStock: {{ 'products.variant.no_stock' | t | json }},
        unitPriceSeparator: {{ 'products.product.unit_price_separator' | t | json }},
        colorBoxPrevious: {{ 'general.lightbox.previous' | t | json }},
        colorBoxNext: {{ 'general.lightbox.next' | t | json }},
        colorBoxClose: {{ 'general.lightbox.close' | t | json }},
        navigateHome: {{ 'layout.navigation.home' | t | json }},
        productAddingToCart: {{ 'products.product.adding_to_cart' | t | json }},
        productAddedToCart: {{ 'products.product.added_to_cart' | t | json }},
        popupWasAdded: {{ 'products.product.popup_was_added' | t | json }},
        popupCheckout: {{ 'products.product.popup_checkout' | t | json }},
        popupContinueShopping: {{ 'products.product.popup_continue_shopping' | t | json }},
        onlyXLeft: {{ 'products.labels.only_x_left' | t: quantity: '[[ quantity ]]' | json }},
        priceSoldOut: {{ 'products.labels.sold_out' | t | json }},
        loading: {{ 'products.listing.loading' | t | json }},
        viewCart: {{ 'layout.cart_summary.cart' | t | json }},
        page: {{ 'general.meta.page' | t | json }},
        imageSlider: {{ 'general.slider.images' | t | json }},
        clearAll: {{ 'collections.filtering.clear_all' | t | json }}
      };
      theme.routes = {
        search_url: '{{ routes.search_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        checkout: '/checkout'
      };
      theme.settings = {
        productImageParallax: {{ settings.animation_parallax_prod_image | json }},
        animationEnabledDesktop: {{ settings.animation_enabled_desktop | json }},
        animationEnabledMobile: {{ settings.animation_enabled_mobile | json }}
      };

      theme.checkViewportFillers = function(){
        var toggleState = false;
        var elPageContent = document.getElementById('page-content');
        if(elPageContent) {
          var elOverlapSection = elPageContent.querySelector('.header-overlap-section');
          if (elOverlapSection) {
            var padding = parseInt(getComputedStyle(elPageContent).getPropertyValue('padding-top'));
            toggleState = ((Math.round(elOverlapSection.offsetTop) - padding) === 0);
          }
        }
        if(toggleState) {
          document.getElementsByTagName('body')[0].classList.add('header-section-overlap');
        } else {
          document.getElementsByTagName('body')[0].classList.remove('header-section-overlap');
        }
      };

      theme.assessAltLogo = function(){
        var elsOverlappers = document.querySelectorAll('.needs-alt-logo');
        var useAltLogo = false;
        if(elsOverlappers.length) {
          var elSiteControl = document.querySelector('#site-control');
          var elSiteControlInner = document.querySelector('#site-control .site-control__inner');
          var headerMid = elSiteControlInner.offsetTop + elSiteControl.offsetTop + elSiteControlInner.offsetHeight / 2;
          Array.prototype.forEach.call(elsOverlappers, function(el, i){
            var thisTop = el.getBoundingClientRect().top;
            var thisBottom = thisTop + el.offsetHeight;
            if(headerMid > thisTop && headerMid < thisBottom) {
              useAltLogo = true;
              return false;
            }
          });
        }
        if(useAltLogo) {
          document.getElementsByTagName('body')[0].classList.add('use-alt-logo');
        } else {
          document.getElementsByTagName('body')[0].classList.remove('use-alt-logo');
        }
      };

      // Birthday 24 coupon
      window.onCouponWin = (obj) => {
        if (obj && obj.couponCode) {
          localStorage.setItem('couponCodeB24', obj.couponCode);
        }
      };
    </script>
    <meta name="google-site-verification" content="NVDj5dEMglMw9cnEiCo1ZL4s4rOwvNgS3fLCFwgpdHE">

    <meta name="facebook-domain-verification" content="h0gzrbyvrtcn97khs1huu450m5d26w">

    {% render 'ot-cookies' %}

    <link rel="stylesheet" href="{{ 'lightbox.min.css' | asset_url }}" type="text/css" media="all">
    <script defer src="{{ 'lightbox.min.js' | asset_url }}" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ 'fancybox.min.css' | asset_url }}" type="text/css" media="all">
    <script defer src="{{ 'fancybox.min.js' | asset_url }}" type="text/javascript"></script>
  </head>

  <body
    id="page-{{ page_title | handle }}"
    class="page-{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != blank %} template-suffix-{{ template.suffix }}{% endif %}{% if template contains 'customers' %} template-customer-area{% endif %}{% if logo_html contains 'img' %} has-logo{% endif %}"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MCN6PZ2H"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if settings.animation_enabled_mobile %}
      <script>
        if (window.innerWidth < 768 && window.localStorage.getItem('is_first_visit') !== null) {
          var pageFadedIn = false;
          document.body.style.opacity = 0;

          function fadeInPageMob() {
            if (!pageFadedIn) {
              document.body.classList.add('cc-animate-enabled');
              document.body.style.transition = 'opacity 0.4s';
              setTimeout(function () {
                document.body.style.opacity = 1;
              }, 200);
              pageFadedIn = true;
            }
          }

          window.addEventListener('load', fadeInPageMob);
          setTimeout(fadeInPageMob, 3000);
        }

        window.addEventListener('pageshow', function () {
          document.getElementById('cc-veil').classList.remove('-in');
        });
      </script>
    {% endif %}

    {% if settings.animation_enabled_desktop %}
      <script>
        if ('IntersectionObserver' in window) {
          document.body.classList.add('cc-animate-enabled');
        }
      </script>
    {% endif %}

    <a class="skip-link visually-hidden" href="#page-content">
      {{- 'general.accessibility_labels.skip_to_content' | t -}}
    </a>
    {% section 'header' %}

    <main id="page-content">
      {{ content_for_layout }}
    </main>

    <script>
      var firstSection = document.body.querySelector('#page-content .shopify-section:first-child');
      if (firstSection) {
        var firstBgSet = firstSection.querySelector('[data-bgset]');

        if (firstBgSet) {
          var bgSets = firstBgSet.dataset.bgset.split(',');
          for (var i = 0; i < bgSets.length; i++) {
            var width = parseInt(
              bgSets[i]
                .match(/ [0-9]+w/g)[0]
                .replace('w', '')
                .trim()
            );
            var height = parseInt(
              bgSets[i]
                .match(/ [0-9]+h/g)[0]
                .replace('h', '')
                .trim()
            );

            if (width >= window.innerWidth && height >= window.innerHeight) {
              firstBgSet.style.backgroundImage = "url('" + bgSets[i].trim().split(' ')[0] + "')";
              firstBgSet.classList.remove('fade-in');
              break;
            }
          }
        } else if (firstSection.querySelector('[data-src]')) {
          var firstDataSrc = firstSection.querySelector('[data-src]');
          var widths = JSON.parse(firstDataSrc.dataset.widths);
          for (var i = 0; i < widths.length; i++) {
            var width = parseInt(widths[i]);
            if (width >= window.innerWidth) {
              firstDataSrc.setAttribute('src', firstDataSrc.dataset.src.replace('{width}', width));
              firstDataSrc.classList.remove('fade-in');
              break;
            }
          }
        }
      }
    </script>
    {% section 'footer' %}

    <!-- Search form -->
    <div id="search-modal" class="theme-modal theme-modal--fullscreen" tabindex="-1">
      <a href="#" data-modal-close class="modal-close">&times;</a>
      <div class="inner">
        <div class="container growth-area">
          <form action="{{ routes.search_url }}" method="get" class="search-form" role="search">
            {% comment %} Remove the following line to search everything, not just products {% endcomment %}
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="options[prefix]" value="last">

            <div class="inline-mini-form inline-mini-form--arrow">
              <input
                type="text"
                name="q"
                placeholder="{{ 'general.search.page_placeholder' | t }}"
                class="focus-me"
                value="{{ search.terms | escape }}"
                aria-label="{{ 'general.search.input_label' | t | escape }}"
                autocomplete="off"
                required
              >
              <button
                class="compact no-hover"
                type="submit"
                aria-label="{{ 'general.search.search_button' | t | escape }}"
              >
                {% render 'svg-rarrow-long' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="cc-veil" class="{% if settings.animation_loading %}cc-veil--animate{% endif %}">
      {% if settings.animation_loading %}
        <div
          class="
            cc-veil-loader cc-veil-loader--{{ settings.animation_loading_animation }}
            {% if settings.animation_loading_message != blank and settings.animation_loading_image != blank %}cc-veil-loader--image-text{% endif %}
            {% if settings.animation_loading_message == blank and settings.animation_loading_image == blank %}cc-veil-loader--blank{% endif %}
          "
        >
          {% if settings.animation_loading_image != blank %}
            <img
              class="cc-veil-loader__image"
              src="{{ settings.animation_loading_image | img_url: '500x500' }}"
              alt="{{ settings.animation_loading_image.alt | escape }}"
              width="{{ settings.animation_loading_image.width }}"
              height="{{ settings.animation_loading_image.height }}"
            >
          {% endif %}

          {% if settings.animation_loading_message != blank %}
            <p class="cc-veil-loader__message">
              {{ settings.animation_loading_message }}
            </p>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if cart.total_price > 0 %}
      {% render 'sticky-checkout-button' %}
    {% endif %}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'helpers.js' | asset_url }}" async></script>
    <script type="text/javascript" src="{{ 'promo_codes_vip.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'promo_codes.js' |  asset_url }}" defer="defer"></script>
    {% comment %} <script src="{{ 'restricted-collection.js' | asset_url }}" defer="defer"></script> {% endcomment %}

    {% render 'body-end-tag' %}

    <script type="text/javascript" src="{{ 'slick.min.js' | asset_url }}"></script>

    {{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}

    <!-- Popup scripts -->
    <script src="{{ 'influencer-config.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'influencer-popup.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'gift-popup.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'collection-popup.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
